/* main colours used in project */
:root {
    --primary-dark: #262626;
    --primary-blue: #1D2CF3;
    --light-beige: #F7F2EB;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    color:var(--primary-dark);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* adds smooth scroll behaviour to all pages */
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 88px;
}

h2 {
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 56px;
}

h3, h4, h5, h6, p{
    font-family: "Helvetica Neue Light";
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* navbar with links to anchorpoints on page */
header {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    background-color: var(--primary-dark);
    text-align: right;
    width: 100%;
    height: 48px;
    position: fixed;
    align-items: center;
    z-index: 5;
}

.top-banner {
    background-color: var(--primary-blue);
    padding: 8px 0;
    text-align: center;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content p, 
.banner-content strong {
    margin: 0;
    color: #fff;
}

.banner-content button {
    height: 24px;
    padding: 4px 24px;
    margin: 0 0 0 16px;
    font-size: 12px;
    background-color: var(--primary-blue);
    color: white;
    border: white;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 100px;
}

.banner-button {
    height: 32px;
    padding: 4px 24px;
    margin: 0 0 0 16px;
    font-size: 14px;
    background-color: var(--primary-blue);
    color: white;
    border: white;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 100px;
}

.banner-content button:hover {
    box-shadow: 2px 2px 0 rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
}

nav {
    background-color: var(--primary-dark);
    height: 48px;
    padding-right: 32px;
}

nav ul {
    list-style-type: none;
    align-items: center;
    padding-right: 16px;

}

nav ul li{
    display: inline-block;
    align-items: center;
    padding: 16px 0px;
}

nav ul li a {
    display: inline-block;
    margin-left: 25px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

nav ul li a:hover {
    transform:scale(1.05);
    font-weight: bolder
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    height: 100vh;
    background-color: var(--primary-dark);
}

.welcome-card-main {
    background-color: var(--light-beige);
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 16px;
    border-color: black;
    border-width: 4px;
    box-shadow: 6px 6px 0 black;
    z-index: 4;
    animation: pulse 4s;
}

@keyframes pulse {
    75% { transform: scale(0.5); }
    100% { transform: scale(1); }
    100% { transform: scale(1); }
}

.welcome-card-header {
    background-color: var(--light-beige);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    border-radius: 16px 16px 0 0;
    border-bottom: black;
    border-style: solid;
    border-width: 0 0 4px 0;
}

.welcome-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 16px 0;
}

/* Avatar animation in hero - smaller file hidden on larger screens */
#lottie-div-200 {
    display:none;
}

#welcome-right {
    display: flex;
    flex-direction: column;
    padding:20px;
}

#welcome-text {
    padding-top:8px;
    padding-bottom:8px;
}

#welcome-text-1 {
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 500%;
}

.welcome-subheading {
    margin: 8px 0 8px 0;
    font-size: 20px;
}

#primary-button-cartoon {
    padding: 8px 32px 8px 32px;
    color: var(--primary-dark);
    background-color: white;
    font-size: 16px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 100px;
    border-color: var(--primary-dark);
    box-shadow: 2px 2px 0 #262626;
    cursor: pointer;
}

#primary-button-cartoon:hover {
    box-shadow: 4px 4px 0 #1D2CF3;
    color:var(--primary-blue);
    border-color: var(--primary-blue);
    transform: scale(1.05);
    cursor: pointer;
}

#static-plus-button {
    padding: 8px 12px 8px 12px;
    color: var(--primary-dark);
    background-color: var(--light-beige);
    font-size: 16px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 100px;
    border-color: var(--primary-dark);
    margin: 16px 16px 16px 16px
}

/* background image goes here */
.hero-background {
    position: absolute;
    z-index: 3;
    height: 100vh;
    overflow: hidden;
    animation: pulse 8s;
}

@keyframes pulse {
    0% { transform: scale(0.5); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


/* can potentially remove max-width here later */
#background-graphics {
    height: 100%;
    overflow: hidden;
    width: auto;
    max-width: 100%
}

/* About me section */
.what-i-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-beige);
    padding-bottom: 40px;
}

.wid-heading {
    padding: 32px;
    text-align: center;
}

.wid-card-section {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}

.what-i-do-card {
    max-width: 360px;
    min-width: 240px;
    min-height: 420px;
    background-color: white;
    border-radius: 16px;
    margin: 16px;
}

.wid-card-img {
    height: auto;
    width: 100%;
    border-radius: 16px 16px 0 0;

}

.wid-card-img-title {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 8px;
    align-items: center;
}

.wid-card-title {
    font-family: "HelveticaNeue-CondensedBlack";
    font-size: 28px;
}

.wid-description-text {
    font-family: "Helvetica Neue Light";
}

.card-img-blue {
    min-height: 200px;
    background-color: #C4E0DC;
    border-radius: 16px 16px 0px 0px;
    display: grid;
    place-items: center;
}

.card-img-purple {
    min-height: 200px;
    background-color: #BFB5FF;
    border-radius: 16px 16px 0px 0px;
    display: grid;
    place-items: center;
}

.card-img-orange {
    min-height: 200px;
    background-color: #FFCD92;
    border-radius: 16px 16px 0px 0px;
    display: grid;
    place-items: center;
}

.card-description {
    padding: 16px;
}

.featured-work-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-beige);
}

.more-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

.more-work-heading {
    padding: 32px;
    text-align: center;
}


.project-section {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 1180px;
}

.project-card {
    max-width: 320px;
    min-width: 240px;
    min-height: 200px;
    border-radius: 16px;
    margin: 16px;
    background-color: white;
}

/* Additional styling here to make first project wider - due to accesptance criteria  */
#project-1 {
    max-width: 640px;
}

#project-1-mobile {
    display:none;
}

.project-card .card-description {
    display: block;
    text-align: center;
}

.project-card .card-description .description-text{
    display: none;
}

.project-card-img{
    min-height: 320px;
    display: grid;
    place-items: center;
}

.project-card-img img {
    border-radius: 16px;
}

#placeholder-img:hover, #project-1-img:hover {
    transform: rotate(-1.5deg) scale(1.03);
    cursor: pointer;
}

/* conatact me section */
.contact-me {
    background-color: var(--light-beige);
    display: flex;
    justify-content: center;
}

.contact-me section {
    display: flex;
    flex-direction: column;
}

.contact-me-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    gap: 16px;
    padding-top: 40px;
}

.contact-me-container h1 {
    color:var(--primary-dark);
    font-size: 48px;
}

.contact-me-container h3,
.contact-me-container h4 {
    color: var(--primary-dark);
    font-family: "Helvetica Neue Light";
    text-align: center;
}

#email-link:hover {
    cursor:pointer;
}

.contact-button {
    height: 40px;
    padding: 4px 24px;
    margin: 0 0 0 16px;
    font-size: 20px;
    background-color: var(--light-beige);
    color: var(--primary-dark);
    border: var(--primary-dark);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 100px;
    box-shadow: 2px 2px 0 #262626;
}

.contact-button:hover {
    box-shadow: 4px 4px 0 #252525;
    color:var(--primary-dark);
    border-color: var(--primary-dark);
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: var(--primary-dark);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 990px) {
    .top-banner {
        display: none;
    }

    .welcome-card-main {
        margin: 8px
    }

    .welcome-content {
        flex-direction: column;
    }

    .animation-container{
        height: 30vh
    }

    #welcome-text-1 {
        font-size: 40px;
    }

    .welcome-buttons button {
        margin-right: 8px;
        margin-bottom: 8px;
    }

    #static-plus-button {
        display: none;
    }

    #project-1 {
        display:none;
    }

    #project-1-mobile {
        display: block;
    }

}

@media screen and (max-width: 480px) {
    /* avatar animaiton changes to 200px version here */
    #lottie-div-200 {
        display: flex;
    }

    #lottie-div-300 {
        display: none;
    }

}